*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
background: #f4f4f4;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.container{

background: white;
padding: 30px;
border-radius: 10px;
width: 100%;
max-width: 500px;
box-shadow: 0 0 10px rgba(0, 0, 0, .2);

}
input,
textarea,
button,
 select {
width: 100%;
padding: 12px;
margin-bottom: 15px;

}
